
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChooseGreeting</title>
</head>
<body>
    <div> 
        <form action="ShowCard" method="post">
            <h3>Please enter a greeting</h3>
            <textarea rows="4" cols="50" name="greetingString"></textarea>
            <button type="submit">Submit Greeting</button>
        </form>
</div>
</body>
</html>
