

ul
{
	padding: 0px;
	list-style-type: none;
	width: 8em;
	border: 1px solid black;

	margin: 5px;
	text-align: center;
}

a:hover { 
    background-color: yellow;
}

a
{
	display:block;
	background-color: green;
	height: 2em;
}