@model TimeUntilHolidayMVC.Models.Holiday

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetHoliday</title>
</head>
<body>
    <div> 
        <p>It is @Model.GetDaysToHoliday() until @Model.holidayName</p>
        <img src="@Url.Content(Model.imagePath)"/>
    </div>
</body>
</html>
